<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - puc_projeto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/root.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/puc_projeto_eixo_2.styles.css" asp-append-version="true" />

</head>



<body>


    <ul class="nav-bar" style="display: flex; justify-content: space-between">
        <h3><a href="/Home/Index">GymFLow</a></h3>
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                Olá, @User.Identity.Name 
                <a class="nav-link text-white button-geral button-inscrever" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-white button-geral button-inscrever button-geral button-entrar" asp-area="" asp-controller="Usuarios" asp-action="Login">Entrar</a>
            </li>
        }
    </ul>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - puc_projeto <a asp-area="" asp-controller="Home" asp-action=""></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
